# Firebase Web config (client)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAPU7msqtNr_PisMje0sKV_yeCmLu_7H04
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ecocollect-37816.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ecocollect-37816
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ecocollect-37816.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=880109607741
NEXT_PUBLIC_FIREBASE_APP_ID=1:880109607741:web:a55ff5b2c401502dd54354

# Firebase server verification
FIREBASE_PROJECT_ID=ecocollect-37816

# Optional reference from Firebase console
NEXT_PUBLIC_FIREBASE_CLIENT_ID=880109607741-2cgrkkavps0shk50cms1s33mr1uajrqt.apps.googleusercontent.com
# FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ecocollect-37816.iam.gserviceaccount.com
